<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>StackLimit: Ask Question</title>
    <link rel="stylesheet" href="../auth.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">IITG Stackoverflow</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="#" class="btn btn-info btn-lg" id="profile-btn">
            <span class="glyphicon glyphicon-user"> Your Profile</span>
          </a>
        </div>
      </nav>

      <h1 id="welcome-head">Ask Question in community</h1>

      <div id="form-container" class="card">
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"><h4>Enter que title</h4></label>
            <!-- <textarea rows="10">
                <input type="text" class="form-control" id="queTitle" placeholder="How to center elements inside a div ?">
            </textarea> -->
            <textarea type="text" class="form-control" id="queTitle" placeholder="How to center elements inside a div ?" rows="4"></textarea>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label"><h4>Enter que description</h4></label>
            <textarea type="text" class="form-control" id="queDescp" placeholder="I am trying to make a webpage with HTML, CSS..." rows="4"></textarea>
        </div>
        <div class="mb-3">
          <label for="formImage" class="form-label">Attach an image (optional)</label>
          <input class="form-control" type="file" id="formImage" accept="image/*">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="submit_btn">Confirm</button>
        </div>
    </div>
    <script src="../ask_question.js"></script>
</body>
</html>