<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackLimit: platform for questions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <style>
        a{
            color: white;
            text-decoration: none;
        }
        #main-div{
            margin-top: 16px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">IITG Stackoverflow</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    <div class="d-grid gap-2 col-6 mx-auto" id="main-div">
        <a href="https://infinite-cliffs-51192.herokuapp.com/signup" class="btn btn-primary">Sign Up</a>
        <a href="https://infinite-cliffs-51192.herokuapp.com/login" class="btn btn-primary">Log In</a>
    </div>
</body>
</html>